#root {
  width: 100vw;
  min-height: 100vh;
}

nav {
  height: 100px;
  padding: 20px 50px 20px 50px;
  font-family: Lato-nav, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 20px;
}
