h2 {
  font-size: 1.4em;
}

.signinContainer,
.signupContainer,
.updateForm,
.newPost,
.updatePostContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.signinForm,
.signupForm,
.profileUpdateForm,
.newPostForm,
.updatePostForm {
  display: flex;
  flex-direction: column;
  width: max(200px, 400px);
  align-items: center;
  gap: 20px;
}

.signinForm label,
.signupForm label,
.profileUpdateForm label,
.newPostForm label,
.updatePostForm label {
  font-size: 1.1em;
  font-weight: 500;
}

.signinForm input,
.signupForm input,
.signupForm textarea,
.profileUpdateForm input,
.profileUpdateForm textarea {
  width: 100%;
}

.errors {
  font-size: 1.1em;
  font-weight: 700;
  font-style: italic;
  color: brown;
}

@media (max-width: 600px) {
  .signinForm,
  .signupForm,
  .profileUpdateForm,
  .newPostForm,
  .updatePostForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    gap: 20px;
  }
}
