.profilePost {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--background-green);
  display: flex;
  flex-direction: column;
  width: max(300px, 600px);
  background-color: rgb(56, 86, 3, 0.1);
  padding: 10px;
}

.profileLink {
  color: rgb(3, 63, 204);
}

.text {
  font-size: 1.2em;
  font-weight: 600;
}

.date {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

img {
  width: max(300px, 600px);
  object-fit: contain;
}

.likes {
  font-weight: bold;
}

.likes ul {
  font-size: 0.9em;
  font-weight: normal;
  columns: 2;
  list-style: square;
}

.likes li {
  width: fit-content;
}

.likes button {
  margin: 20px 0 20px 0;
}

.likeButton {
  width: 100px;
}

.deleteButton,
.updatePost {
  margin-top: 30px;
}

.deleteButton {
  width: 180px;
}

.deleteButton {
  background-color: chocolate;
}

.updatePost {
  margin-bottom: 20px;
  width: 100px;
  font-size: 1em;
  color: black;
  padding: 10px;
  background-color: rgb(198, 191, 184);
  border-radius: 10px;
}

.comments {
  margin-top: 20px;
}

.comments,
.comments form {
  display: flex;
  flex-direction: column;
}

.comments form label {
  font-size: 1em;
  font-weight: 700;
}

.comments form button {
  width: 100px;
  margin: 20px 0 20px 0;
}

@media (max-width: 600px) {
  .profilePost {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--background-green);
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(56, 86, 3, 0.1);
    padding: 10px;
  }

  img {
    width: 300px;
    object-fit: contain;
  }
}
